<div class="container p-5">


<div class="jumbotron mt-4">
  <h1 class="display-5">My Notes</h1>
  <div class="lead">Hello there, I am Warley</div>
  <hr class="my-4">

  <p>Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qu</p>
  <a href="http://warlins.com" class="btn btn-outline-primary">Warlins.com</a>
</div>
</div>
